
.container{
  
  display: flex;
  justify-content: center;
  place-items: center;
  flex-direction: column;
  h1{

    margin:20px;
  }
.row{
  
    display: flex;
    flex-direction: row;
    gap:20px
    
}

.list{

    li{

        .items{
      
        display: flex;
        gap:20px;     
         margin:20px;
        margin-bottom: 30px;
  
        align-items: center;
         
        img{
            display: flex;
            width:45px;
            margin-bottom: 3px;



        }
        .price{
          
           display: flex;
            margin-left:auto;
        }
   
     
      div:nth-of-type(3) {

        font-weight: bold;
        margin-left: auto; 
      }

  
      div:nth-of-type(4) {
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
        margin-left: auto; 
      }
  
        .changeBtn{
            display: flex;
            flex-direction: row;  
            gap:10px;
            align-items: center;
            .arrows{
                 margin:0;
                display: flex;
                flex-direction:column;
                color:gray;
            }

            .arrow:hover{
                cursor: pointer;
                color:black;
                border:1px solid black;

            }
             
          }
          
          
          
    button{
        display: flex;
      font-size: 13px;
       align-items: center;
       place-items: center;
        height: 20px;
        width:50px;
   
     margin-left:auto;
     
    }

    button:hover{
        background-color: $color-primary;
    }
    }
}}



    




    .summary{

div{
  margin-left: 20px;
}
        li{
            display: flex;
            gap:40px;      margin:20px;
            margin-bottom: 30px;
            border-bottom :1px solid gray;

          span:last-of-type{
            margin-left: auto;
          }
        }    
        display: flex;
   
        flex-direction: column;
        margin-top: 20px;
        margin-left: 30px;
      
        button{
            display: flex;
          font-size: 20px;
           align-items: center;
           place-items: center;
            height: 30px;
            width:150px;
            justify-content: center;
            margin-left: 30px;
        }
    
        button:hover{
            background-color: $color-primary;
        }
    }
}

//EMPTY CART--------------------------------
.EmptyCart {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrează pe verticală */
  align-items: center;     /* Centrează pe orizontală */
  height: 100vh;           /* Asigură-te că ocupă întreaga înălțime a ferestrei */
  gap: 20px;

  h1 {
    font-size: 30px;
    text-align: center;     /* Asigură că textul este centrat în interiorul h1 */
  }

  .image {
    display: flex;
    justify-content: center; /* Centrează imaginea pe orizontală */
    align-items: center;     /* Centrează imaginea pe verticală */
    width: 300px;            /* Setează o lățime pentru imagine */
    height: auto;            /* Asigură că imaginea își păstrează proporțiile */
  }
}
