$shadow-1:rgba(99,99,99,0.2) 0px 2px 8px 0px;
$color-primary:rgba(96,1,210,255);
$color-shadow:rgba(76, 1, 168, 1);


$white:white;
$color-secondary:rgba(240,243,245,255);
$black:black;
$grey:#ececec;





.container_{
max-width: 1700px;
min-height: 110vh;

}


.btn_universal
{
    background-color:$white;
    border:1px solid black;
    border-radius: 50px;
    height:40px;
    width: 150px;
   font-size: 20px;
    color:black;
    align-items: center;
    justify-content: center;

}